
<% block('title', __('login') + ' - SoundGame') %>

<h2><%= __('login') %></h2>

<form method="POST" action="/login">

    <% if (typeof errors !== 'undefined' && errors.length) { %>
    <div class="card red lighten-4">
        <div class="card-content">
        <%
        for (var i = 0, l = errors.length; i < l; i++) {
            %>
                <p><%= errors[i] %></p>
            <%
        }
        %>
        </div>
    </div>
    <% } %>

    <div class="row">
        <div class="input-field col s12">
            <input id="username_or_email" name="username_or_email" type="text" class="validate" required value="<%= req.param('username_or_email') || '' %>">
            <label for="name"><%= __('username_or_email') %></label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="password" name="password" type="password" required class="validate">
            <label for="password"><%= __('password') %></label>
        </div>
    </div>
    <button type="submit" class="btn waves-effect"><%= __('login') %></button>
</form>
