
<% block('title', __('register') + ' - SoundGame') %>

<h2><%= __('register') %></h2>

<form method="POST" action="/register">

    <% if (typeof errors !== 'undefined' && errors.length) { %>
    <div class="card red lighten-4">
        <div class="card-content">
        <%
        for (var i = 0, l = errors.length; i < l; i++) {
            %>
                <p><%= errors[i] %></p>
            <%
        }
        %>
        </div>
    </div>
    <% } %>

    <div class="row">
        <div class="input-field col s12">
            <input id="username" name="username" type="text" class="validate" required value="<%= req.param('username') || '' %>">
            <label for="name"><%= __('username') %></label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="email" name="email" type="email" class="validate" required value="<%= req.param('email') || '' %>">
            <label for="email"><%= __('email') %></label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="password" name="password" type="password" required class="validate">
            <label for="password"><%= __('password') %></label>
        </div>
    </div>
    <button type="submit" class="btn waves-effect"><%= __('register') %></button>
</form>
