<!DOCTYPE html>
<html>
<head>
    <title><%- blocks.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/materialize.min.css">
    <!--STYLES END-->
</head>

<body>

<%- partial('front/partials/menu') %>

<div class="container">

    <p>Me: <%= JSON.stringify(req.session, null, 4) %></p>

    <%
    var flash = req.getAllFlash();
    if (Object.keys(flash).length) {
        for (var type in flash) {
            if (!flash.hasOwnProperty(type)) { continue; }

            var cssClass = '';
            switch (type) {
                case 'success':
                    cssClass = 'green';
                    break;
                case 'warning':
                    cssClass = 'yellow';
                    break;
                case 'error':
                    cssClass = 'red';
                    break;
                default:
                    cssClass = 'grey';
                    break;
            }

            %>
            <div class="card">
                <div class="card-content lighten-3 <%= cssClass %>">
                    <%
                    for (var i = 0, l = flash[type].length; i < l; i++) {
                        %><p><%= flash[type][i] %></p><%
                    }
                    %>
                </div>
            </div>
            <%
        }
    } %>

    <%- body %>

</div>

<%- partial('front/partials/footer') %>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.min.js"></script>
<script src="/js/dependencies/materialize.min.js"></script>
<script src="/js/main.js"></script>
<!--SCRIPTS END-->

<%- blocks.javascripts %>

</body>
</html>
