<h1 class="center"><%= __('play') %></h1>

<div class="section no-pad-bot">
    <div class="row">
        <div class="col m4 heZ">
            <div class="card">
                <div class="card-content">
                    <p><%= __('game_start_test_level_1') %></p>
                </div>
                <div class="card-action">
                    <a href="/game/game" class="btn center-block waves-effect waves-light blue">
                        <%= __('game_start_test_level_1_link') %>
                    </a>
                </div>
            </div>
        </div>
        <div class="col m4 heZ">
            <div class="card">
                <div class="card-content">
                    <p><%= __('game_start_subscribe') %></p>
                </div>
                <div class="card-action">
                    <a href="/register" class="btn center-block waves-effect waves-light blue darken-2">
                        <%= __('game_start_subscribe_link') %>
                    </a>
                </div>
            </div>
        </div>
        <div class="col m4 heZ">
            <div class="card">
                <div class="card-content">
                    <p><%= __('game_start_login') %></p>
                </div>
                <div class="card-action">
                    <a href="/login" class="btn center-block waves-effect waves-light blue darken-4">
                        <%= __('game_start_login_link') %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
